// app global css in SCSS form
* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0 auto;
  font-family: 'Comfort';
  color: maroon;
  text-align: center;
}

h2 {
  color: maroon;
}

h3 {
  font-family: 'Comfort';
  color: goldenrod;
  text-align: center;
}

h4 {
  font-family: 'Comfort';
  color: white;
  background: #000;
  text-align: center;
}

.bg-image
{
  background-image: url(../assets/images/r2.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#carousel {
  height: 100vh;
  float: left;
  width: 70%;
  position: relative;
  background-color: maroon;
}
.copyright-text p {
  border-top: 1px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  font-size: 13px;
}

.q-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  height: 100vh;
  width: 30%;
  margin: 0 auto;
  /* Center the elements vertically */
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  align-items: center;
  position: center;
  float: right;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
